{% extends 'base.html' %}

{% block titulo %}Libreria{% endblock %}

{% block contenido %}
<table align="center">
    <thead>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Genero</th>
      <th>Fecha publicacion</th>
      <th>Consultar detalles</th>
    </thead>
    {% for libro in datos %}
    <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.genero }}</td>
        <td>{{ libro.fecha_publicacion }}</td>
        <td><a href="/libro/{{libro.id}}">detalles</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}